<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Результаты</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <div class="layout-center">
        <div class="header-motto">Оцифрованная фантазия!</div>
        <div class="header-contacts">333-22-11, somemail@domain.ru</div>
    </div>
</header>
<main>
    <div class="navigation clearfix">
        <div class="layout-center">
            <div class="logo"><%= image_tag "img/epic-logo.png", alt: ""%></div>
            <ul class="menu">
                <li class="menu-item"><%= link_to "О нас", "/index" %></li>
                <li class="menu-item"><%= link_to "Наше предложение", "/product" %></li>
                <li class="menu-item"><%= link_to "Для пользователя", "/user" %></li>
                <li class="menu-item"><%= link_to "Для администратора", "/admin" %></li>
            </ul>
        </div>
    </div>

    <article>
        <h1 class="header center">Результаты вашего запроса</h1>

        <div class="stats">
            <div class="stats-container">
                <h4 class="stats-header">
                    Произведены действия:
                </h4>

                <p class="period">

                 
                    <%= @result[:message_text]%>

                </p>


                <div class="table-container">
                    <table>
                        <% case @result[:flag] %>
                            <% when "person"%>
                            <%= render html: "<th>Всего личностей</th>".html_safe %>
                               
                                <% @persons.each do |p| %>
                                    <tr>                                    
                                    <td><%= p.Name %></td>   
                                    </tr>
                                <% end %>


                            <% when "keyword"%>
                            <%= render html: "<th>Всего ключевых слов</th>".html_safe %>
                               
                                <% @keywords.each do |p| %>
                                    <tr>                                    
                                    <td><%= p.Name %></td>   
                                    </tr>
                                <% end %>



                            <% when "site"%>
                            <%= render html: "<th>Всего личностей</th>".html_safe %>
                               
                                <% @sites.each do |p| %>
                                    <tr>                                    
                                    <td><%= p.Name %></td>   
                                    </tr>
                                <% end %>
                        <% end %>

                    
                    </table>
                </div>
                <%= link_to "Назад", admin_path, class: "submit" %><!-- <a href="userpage.html" class="submit">Назад</a> -->
            </div>
        </div>
    </article>
</main>


<footer>
    <div class="layout-center clearfix">
        <div class="block-left">
            <div class="social-buttons">
                <a href="https://vk.com/public118236873" class="social"><%= image_tag "img/icons/vk.svg", alt: ""%></a>
                <a href="https://www.facebook.com/groups/1583861135260815/" class="social"><%= image_tag "img/icons/facebook.svg", alt: ""%></a>
                <a href="https://twitter.com/EpicCreators" class="social"><%= image_tag "img/icons/twitter.svg", alt: ""%></a>
            </div>
            <p>© 2016, Веб-студия «Epic-Creators»</p>
        </div>

        <div class="block-right">
            <div class="footer-logo"><%= image_tag "img/epic-logo.png", alt: ""%></div>
            <a class="footer-up" href="#">Вверх</a>
            <div class="contacts">333-22-11, <a href="">somemail@domain.ru</a></div>
            <a class="sitemap" href="#">Карта сайта</a>

        </div>

        <div class="block-center">
            <%= image_tag "img/liveinternet.png", alt: "", class: "counter"%>
            <%= image_tag "img/counter.png", alt: "", class: "counter"%>
        </div>

    </div>
</footer>

</body>
</html>